.centersDescription{
    text-align: center;
    font-size: 35px;
}
.descriptionComponenets {
    display: inline-block;
    text-align: left;
    inline-size: 35ch;
    overflow-wrap: break-word;
    text-indent: -3ch;
}