.featuresBackground {
    font-family: Verdana;
}

.featuresTitle {
    margin: 25px 25px;
    text-align: center;
    font-size: 50px;
}

.featuresListItems {
    text-align: left;
    font-size: 25px;

}
