.matchResults
{
    padding-bottom: 32px;
    padding-top: 32px;
}

.matchResultsTitle
{
    padding-bottom: 20px;
}

.match-results-card{
    margin-top: 3em;
}

.match-results-card svg{
    color:gold;
}