.features
{
    padding-top: 50px;
}

.features-row
{
    padding-bottom: 32px;
}

.features-title
{
    text-align: center;
    padding-bottom: 20px;
}

.features-card
{
    max-width: 248px;
}

.col
{
    padding-left: 3px !important;
    padding-right: 3px !important;
}

@media (max-width: 576px)
{
    .features
    {
        max-width: 480px !important;
    }
}