.match-results
{
    padding-bottom: 32px;
    padding-top: 32px;
}

.match-results-card
{
    margin-top: 3em;
    min-height: 350px;
}

.match-results-card svg
{
    color:gold;
}

.deleteBtn
{
    border-radius: 0rem !important;
}